---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../layouts/Header.astro";
import Hero from "../layouts/Hero.astro";
import Footer from "../layouts/Footer.astro";
---

<Layout title="Reel in Digital" />
<Header />
<main><Hero /><section><div class="page-padding">Hello from Section</div></section></main>
<Footer />
<style>
  main {
    display: grid;
  }
  section {
    width: 100%;
    margin: 0 auto;
    padding-top: 5em;
    padding-bottom: 5em;
    

  }
  .page-padding {
    padding-left: 2%;
    padding-right: 2%;
  }
</style>
