---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../layouts/Header.astro";
import Hero from "../layouts/Hero.astro";
import Footer from "../layouts/Footer.astro";
---

<Layout title="Reel in Digital" />
<Header />
<main>
  <Hero />
  <section >
  <div class="block__grid">
    <div class="services__card">1</div>
    <div class="services__card">2</div>
    <div class="services__card">3</div>
    <div class="services__card">4</div>

  </div>
</section>
  <div class="gallery_grid">
    <div class="card">
      <img
        src="https://picsum.photos/seed/picsum/200/300"
        alt="random1"
        class="class__img"
      />
      <!-- <div class="card__content">
        <h3 class="card__title">Title</h3>
      </div> -->
    </div>
  </div>
</main>
<Footer />
<style>
  main {
    display: grid;
    max-width: 1200px;
    margin: 0 auto
  }
  .block__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  }
  .services__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #353535;
    font-size: 3rem;
    color: #fffe;
  }
  section {
    width: 100%;
    
    margin: 0 auto;
    padding-top: 5em;
    padding-bottom: 5em;
  }
  .page-padding {
    padding-left: 2%;
    padding-right: 2%;
  }
</style>
