---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../layouts/Header.astro";
import Hero from "../layouts/Hero.astro";
import Footer from "../layouts/Footer.astro";
---

<Layout title="Reel in Digital" />
<Header />
<main><Hero /></main>
<Footer />
<style>
  main {
    display: grid;
  }
</style>
